.about {
  display: flex;
  flex-direction: column;
}

.about__banner {
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1528238646472-f2366160b6c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80");
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about__title p {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 1000;
  color: maroon;
}

.about__section {
  display: flex;
}

.about__sectionImage {
  height: 400px;
  width: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: tomato;
}

.about__teamTitle {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
}

.about__teamItems {
  margin-left: 100px;
  margin-right: 100px;
}
