.counter {
  font-size: 40px;
}

.counter__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  margin: 5px;
}
.counter__number {
  display: flex;
}
/* .counter__number > span {
  display: flex;
} */

.number {
  margin-right: 10px;
}
