.service {
  display: flex;
  background-color: khaki;
}

.service__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: honeydew;
}
.service__svg {
  height: 75px;
  width: 75px;
}
