.contact__banner {
  height: 250px;
  width: 100%;
}

.contact__banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.contact__title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact__title p {
  font-size: 30px;
  font-weight: 1000;
  color: maroon;
}

.contact__section {
  display: flex;
  margin-bottom: 20px;
}
.contact__map {
  width: 100%;
  margin-left: 100px;
  padding-right: 10px;
}

iframe {
  min-height: 350px;
}
.contact__form {
  background-color: rgb(233, 227, 227);
  width: 100%;
  padding-left: 10px;
  margin-right: 100px;
}

.contact__form p {
  padding-bottom: 7px;
  margin-left: 5px;
}
.contact__form input {
  margin-bottom: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
  border: none;
  cursor: pointer;
  width: 98%;
}
.contact__form textarea {
  margin-bottom: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
  border: none;
  cursor: pointer;
  width: 98%;
}

.contact__button {
  color: white;
  background-color: maroon;
  height: 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  width: 98%;
  margin-bottom: 5px;
}
.form {
  display: flex;
  flex-direction: column;
}

.contact__subject {
  height: 25px;
}
.contact__message {
  height: 70px;
}

@media screen and (min-width: 375px) and (max-width: 812px) {
  .contact__section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact__map {
    margin: 0;
    width: 95%;
    padding-bottom: 15px;
  }

  .contact__form {
    margin: 0;
    width: 95%;
  }
}

@media screen and (min-width: 813px) and (max-width: 1112px) {
  .contact__section {
    display: flex;
  }

  .contact__map {
    margin: 0;

    padding-bottom: 15px;
    padding-right: 5px;
  }

  .contact__form {
    margin: 0;

    padding-left: 5px;
  }
}
