.service {
  display: flex;
  background-color: rgb(233, 227, 227);
  border-radius: 10px;
}

.service__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 5px;
}
.service__svg {
  height: 75px;
  width: 75px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.service__title {
  padding-bottom: 20px;
}

.service__description {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
}
