.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.services__row {
  margin-bottom: 16px;
}

.grid__container {
  display: flex;
  justify-content: center;
}
