.header {
  height: 120px;
  display: flex;
  flex-direction: column;
  position: sticky;
  z-index: 100;
}

.header__top {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  background: maroon;
}

.header__topLeft {
  display: flex;
  justify-content: flex-start;
  flex: 0.8;
  padding-left: 20px;
  color: white;
}

.header__topRight {
  display: flex;
  justify-content: flex-end;
  flex: 0.2;
  padding-right: 20px;
  color: white;
}

/* .header__topRight > .MuiIcon:hover {
  color: #e8ae0c;
} */

.header__topLeftInfo {
  display: flex;
  padding-left: 15px;
  align-items: center;
}
.header__topLeftInfo:hover {
  color: #e8ae0c;
}

.header__topLeftInfo p {
  padding-left: 5px;
}

.header__bottom {
  display: flex;
  padding-top: 10px;
  background: white;
}

.header__bottomRight {
  display: flex;
  justify-content: flex-end;
  flex: 0.6;
  align-items: center;
  padding-right: 20px;
}

.header__bottomRight h3:hover {
  color: maroon;
}

.header__bottomLeft {
  display: flex;
  padding-left: 20px;

  flex: 0.4;
}

.header__bottomRight > h3 {
  padding-right: 10px;
  text-transform: capitalize;
}

.header__link {
  text-decoration: none;
  color: black;
  margin-right: 5px;
}
